 body {
   background-image: url("https://i.pinimg.com/originals/ce/9f/7e/ce9f7eb5f6803e748217e279bb2f03e1.jpg");

  }
     

.texto {

 color: white; font-family: Arial; font-size: extra-large; 

}

   .titulo {
    color: white;
    font-family: Arial;
    
   }
